:root {
    --accent-color-dim: #41396a;
    --accent-color: #7764d8;
    --accent-color-hover: #8a7ce0;
    --accent-color-active: #baacff;
    --background-color: #1a1a1a;
    --text-color: #d0d0d0;
    --text-color-dim: #888888;
    --text-color-bright: #ffffff;
    --panel-background-color: #303030;
    --panel-background-color-dim: #2a2a2a;
    --component-color: #404040;
    --component-color-hover: #505050;
    --component-color-active: #606060;
    --relative-hover: #ffffff30;
    --relative-active: #ffffff50;
    --panel-shadow: rgba(0, 0, 0, 0.2);
    --debug-color: #7ac972;
    --info-color: #5ec4ff;
    --warning-color: #ffd666;
    --error-color: #f06d59;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.side-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--panel-background-color);
    box-shadow: 0 0 15px var(--panel-shadow);
}

.side-panel-footer {
    height: 70px;
    background-color: var(--component-color);
    border-radius: 10px;
    margin: 0 5px 5px 5px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.side-panel-footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-panel-footer-wrapper .username {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color-bright);
}

.side-panel-footer-wrapper .address {
    font-size: 14px;
    color: var(--text-color-dim);
}

.settings-button {
    border: none;
    background-color: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-button:hover {
    background-color: var(--relative-hover);
}

.settings-button img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.side-panel-wrapper {
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.central-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 40px 0 40px;
}

.main-panel-header {
    background-color: var(--panel-background-color-dim);
    box-shadow: 0 0 15px var(--panel-shadow);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main-panel-header-name {
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color-bright);
}

.main-panel-header-address {
    font-size: 14px;
    color: var(--text-color-dim);
}

.input-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--panel-background-color);
    box-shadow: 0 0 15px var(--panel-shadow);
    border-radius: 30px;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0 15px 15px 15px;
}

.input-field {
    width: calc(100% - 80px);
    height: 35px;
    background-color: inherit;
    border-radius: 35px;
    color: var(--text-color-bright);
    border: none;
    padding: 10px 10px 10px 20px;
    margin: 0;
    font-size: 18px;
}

.input-field:focus {
    outline: none;
}

.input-button {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    border-radius: 50%;
    border-style: none;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-button:hover {
    background-color: var(--accent-color-hover);
}

.input-button:active {
    background-color: var(--accent-color-active);
}

.log-entry {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.log-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.log-timestamp {
    font-size: 12px;
    color: var(--text-color-dim);
    align-self: flex-end;
}

.log-level {
    font-weight: bold;
    align-self: flex-start;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--background-color);
}

.log-message {
    overflow-wrap: anywhere;
}

.log-level.debug {
    background-color: var(--debug-color);
}

.log-level.info {
    background-color: var(--info-color);
}

.log-level.warning {
    background-color: var(--warning-color);
}

.log-level.error {
    background-color: var(--error-color);
}

.side-panel-item {
    background-color: var(--component-color);
    padding: 15px;
    margin: 5px 15px 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-panel-item:hover:not(.active) {
    background-color: var(--component-color-hover);
}

.side-panel-item:active,
.side-panel-item.active {
    background-color: var(--component-color-active);
    color: var(--text-color-bright);
}

.side-panel-item .disconnect-button {
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-panel-item .disconnect-button img {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

.side-panel-item .disconnect-button:hover {
    background-color: var(--relative-hover);
}

.side-panel-item .disconnect-button:active {
    background-color: var(--relative-active);
}

.side-panel-item:active:has(.disconnect-button:active) {
    background-color: var(--component-color-hover);
    color: var(--text-color);
}

.side-panel-item-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-panel-item .connection-name {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color-bright);
}

.side-panel-item .connection-address {
    font-size: 12px;
    color: var(--text-color-dim);
}

.side-panel-item .message-preview-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-panel-item .message-preview {
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 260px;
}

.side-panel-item .message-preview.empty {
    opacity: 0;
}

.side-panel-item .notification-dot {
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-right: 5px;
}

.side-panel-item .notification-dot.debug {
    background-color: var(--debug-color);
}
.side-panel-item .notification-dot.info {
    background-color: var(--info-color);
}
.side-panel-item .notification-dot.warning {
    background-color: var(--warning-color);
}
.side-panel-item .notification-dot.error {
    background-color: var(--error-color);
}

.side-panel-item .notification-dot + .message-preview {
    color: var(--text-color-bright);
}

.chat-message {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    width: fit-content;
    max-width: calc(max(66%,350px));
}

.chat-message:last-child {
    margin-bottom: 10px;
}

.chat-message.received {
    align-self: flex-start;
    background-color: var(--component-color);
    border-top-left-radius: 0;
}

.chat-message.sent {
    align-self: flex-end;
    background-color: var(--accent-color-dim);
    color: var(--text-color-bright);
    border-bottom-right-radius: 0;
}

.chat-message-wrapper {
    display: flex;
    flex-direction: column;
}

.chat-message-source {
    font-size: 12px;
}

.chat-message-content {
    font-size: 16px;
    overflow-wrap: anywhere;
    margin: 0 5px;
}

.chat-message.received .chat-message-source {
    color: var(--accent-color-active);
    align-self: flex-start;
}

.chat-message-timestamp {
    margin-left: 20px;
    font-size: 10px;
    align-self: flex-end;
}

.chat-message.received .chat-message-timestamp {
    color: var(--text-color-dim);
}

.chat-message.sent .chat-message-timestamp {
    color: var(--text-color);
}

.settings-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background-color);
    box-shadow: 0 0 30px var(--panel-shadow);
    border-radius: 20px;
    padding: 20px;
}

.settings .settings-header {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: var(--text-color-bright);
    margin-bottom: 20px;
}

.settings .close-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.settings .close-button:hover {
    background-color: var(--relative-hover);
}

.settings .close-button img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.settings label {
    display: block;
    font-size: 16px;
    color: var(--text-color-bright);
    margin-bottom: 10px;
}

.settings input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: var(--component-color);
    color: var(--text-color-bright);
    margin-bottom: 20px;
}

.settings select {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: var(--component-color);
    color: var(--text-color-bright);
    appearance: none;
}

.settings .select-wrapper::after {
    content: "▼";
    position: absolute;
    font-size: 16px;
    transform: translateY(calc(18px - 50%)) translateX(-25px);
}

.settings .select-wrapper:has(select:active)::after {
    content: "▲";
}

.settings select:focus {
    outline: solid 2px var(--accent-color);
    background-color: var(--component-color);
}

.settings select:active {
    background-color: var(--component-color-active);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.settings select option {
    background-color: var(--component-color);
    color: var(--text-color-bright);
    border-radius: 5px;
}